body {
  margin: 0;
  font-family: Arial;
  background: #f5f6fa;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #2f3542;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* CONTENT */
.container {
  padding: 20px;
}

.form-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}